<div class="container mt-3 px-4">
    <div class="row first-row gx-5">
      <div class="col-4">
        <div class="small-cat">
          <div class="des-cat"><p>HATS</p></div>
        </div>
      </div>
      <div class="col-4">
        <div class="small-cat">
          <div class="des-cat"><p>JACKETS</p></div>
        </div>
      </div>
      <div class="col-4">
        <div class="small-cat">
          <div class="des-cat"><p>SNEAKERS</p></div>
        </div>
      </div>
      <div class="col-4">
        <div class="small-cat">
          <div class="des-cat"><p>HATS</p></div>
        </div>
      </div>
      <div class="col-4">
        <div class="small-cat">
          <div class="des-cat"><p>JACKETS</p></div>
        </div>
      </div>
      <div class="col-4">
        <div class="small-cat">
          <div class="des-cat"><p>SNEAKERS</p></div>
        </div>
      </div>
    </div>
</div>


