<div class="container">
  <table class="table mt-5">
    <thead>
      <tr>
        <th scope="col">Product</th>
        <th scope="col">Description</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Remove</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of orderList">
        <td><img src="assets/images/img2.jpg" style="height:120px"></td>
        <td>{{item.title}}</td>
        <td><3></td>
        <td>{{item.price}}</td>
        <td>x</td>
      </tr>
    </tbody>
  </table>
  <div class="total-price">
    <h1 >Total 250$</h1>
  </div>
  <div class="pay">
    <input class="btn btn-primary" value="pay with">
  </div>
</div>
