@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Montserrat', 'Poppins';
}
.crown{
  font-size: 50px;
  color:#7d7c7c;
}
.items {
  height:500px;
}

.active{
  color:green;
}

/* ***********************categories Style **************************/
.cat{
  /* background-image: url("assets/images/img.jpg"); */
  /* background-size: cover; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 300px;
}
.cat-name {
  /* padding: 35px 25px !important; */
  background-color: #ffffff75;
  width: 150px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.cat-name p {
  font-weight: bold;
  font-size: 25px;
  color: #2d2d2d;
}
.cat-name span{
  font-size: 20px;
  color: #2d2d2d;
  font-weight: normal;
}
.cat-name:hover {
  background-color: rgba(255, 255, 255, 0.75);
}
ul li {
  margin-left: 20px;
  font-size: 1rem;

}
.cart {
  position: relative;
  font-size: 1.75rem;
  bottom: 14px;
}
.cart span {
  font-size: 17px;
  top: 22px;
  left: 38%;
  position: absolute;
}

/* products page styles start*/
.card-body{
  display: flex;
  justify-content: space-between;
}
.card img{
  position: relative;

}
.float-button{
  position: absolute;
  top:30%;
  left: 25%;
  opacity: 0.60;
  color: white;
}
.card:hover .float-button{
  opacity: 1;
}
/* *********************order style************************ */
.table td:not(:first-child){
  vertical-align: middle;
  padding-left: 20px;
}
.table td:last-child{
  font-weight: 600;
  font-size: 20px;
}
.total-price{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;

}
.pay{
  display: flex;
    justify-content: flex-end;
  margin-bottom: 40px;
}
.pay input{
  width: 120px;
  height:30px;
}
